* {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.bar_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px 0 25px 25px;
}

.name {
    margin-left: 25px;
}